*, *:after, *:before {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

html, body, .app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player, .monster {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  flex: 1;
}

.row {
  display: flex;
}

.text {
  font-size: 36px;
  margin-top: 48px;
}

.name {
  font-size: 72px;
  align-self: center;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-level {
  width: 32px;
  height: 240px;
  border: 1px solid darkgoldenrod;
  border-radius: 4px;
  margin: 0 32px;
  overflow: hidden;
  position: relative;
}

.score-level-pointer {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: pink;
}

.score-text {
  margin-top: 16px;
  font-size: 24px;
}

.dice {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dice img {
  width: 56px;
  height: 56px;
  margin: 16px 0;
}

.action {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.action-text {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.action-btn {
  margin-top: 32px;
  font-size: 24px;
  padding: 16px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(141, 208, 141);
  align-self: center;
  width: 120px;
}

.action-btn--reset {
  background-color: rgb(148, 148, 148);
  display: none;
}